In [4]:
import pandas as pd
from sklearn.cluster import KMeans
import math
import matplotlib.pyplot as plt
import warnings
import numpy as np
import sqlite3 as sql
warnings.simplefilter('ignore')

In [8]:
conn = sql.connect('..\Databases\GreatOutdoors\go_sales.sqlite')
query = "SELECT * FROM sales_branch"
df = pd.read_sql(query,conn)

df

,SALES_BRANCH_CODE,ADDRESS1,ADDRESS2,CITY,REGION,POSTAL_ZONE,COUNTRY_CODE,TRIAL888
0,13,Schwabentor 35,None,Hamburg,None,D-22529,2,T
1,14,Leopoldstraße 36,None,München,None,D-81241,2,T
2,15,Isafjordsgatan 30 C,None,Kista,None,S-164 40,10,T
3,17,"7800, 756 - 6th Avenue. S.W.",None,Calgary,Alberta,T2P 3Z0,4,T
4,18,789 Yonge Street,None,Toronto,Ontario,M2M 4K8,4,T
5,19,1288 Dorchester Avenue,None,Boston,Massachusetts,02133,3,T
6,20,299 Yale Avenue,None,Seattle,Washington,98139,3,T
7,21,1288 South Barrington Ave.,None,Los Angeles,California,90072,3,T
8,22,10032 NW 186th,None,Miami,Florida,33024,3,T
9,23,"6c, rue de l'Église",None,Lyon,None,F-69002,1,T
10,24,Prol. Paseo de la Reforma No. 51,Lomas de Santa Fe,Distrito Federal,México,01219,20,T
11,25,202-2-3 Hyakunincho,Shinjuku-ku,Tokyo,Tokyo,681-3187,11,T
12,26,543-225 Asahi,Asahi-ku,Osaka City,Osaka,616-5698,11,T
13,28,2315 Queen's Ave,Level 2,Melbourne,VIC,2088,16,T
14,29,"Plaza de la Constitución, s/n",None,Bilbao,Vizcaya,48223,19,T
15,30,"Avenida Paulista, 333",CJ 231 2o. Andar,São Paulo,SP,01403-090,21,T
16,31,Kauppakatu 33,None,Kuopio,None,FIN-73100,22,T
17,32,"234-12, Kongdeok-Dong",Mapo-Ku,Seoul,None,121-020,13,T
18,33,"154, Choung-Cheng South Road",None,San Chung,Taipei,241,12,T
19,34,No. 1277 Beijing Xi Road,None,Shanghai,None,200040,14,T
20,35,Victoria House,25 Ebury Street,London,None,N17 7LX,9,T
21,36,3 Albany Court,Market Street,Birmingham,West Midlands,B43 7NP,9,T
22,37,Birchstraße 13,None,Zürich,None,CH-8057,8,T
23,38,Interleuvenlaan 2,None,Heverlee,None,B-3001,17,T
24,39,Jedleser Straße 7,None,Wien,None,A-1210,5,T
25,6,"75, rue du Faubourg St-Honoré",None,Paris,None,F-75008,1,T
26,7,"Piazza Duomo, 1",None,Milano,None,I-20121,6,T
27,9,Singelgravenplein 4,4e verdieping,Amsterdam,Noord-Holland,1233 BW,7,T